/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('src/assets/logo-b3.png');
    background-position: 150px 150px;
    background-repeat: no-repeat;
    background-color: rgb(24,28,108);
}
