
.cdb-container {
    height: 100%;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content-container {
    min-width: 650px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 64px;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    color: white;
}

.title-container h1 {
    font-size: 48px;
    font-weight: bolder;
}

.form-container {
    margin-top: 32px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.form-container form div {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 24px
}

.form-container form div h4 {
    font-size: 24px;
    font-weight: 500;
}

.form-container form button {
    height: 56px;
    width: 100%;
    align-self: center;
}

.result-container {
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.result-container span h1:nth-child(1) {
    font-weight: bolder;
    font-size: 32px;
}

.result-container span .result {
    font-weight: 500;
}


