
<div class="cdb-container">
    <div class="content-container">
        <div class="title-container">
            <h1>Cálculo do CDB</h1>
        </div>
        
        <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="calculate()">
                <div>
                    <h4>Valor Monetário</h4>
                    <mat-form-field>
                        <input type="number" matInput formControlName="monetaryValue" min="0" step="100"/>
                        <mat-error *ngIf="!form.get('monetaryValue')?.valid">Insira o valor monetário</mat-error>
                    </mat-form-field>
                </div>
    
                <div>
                    <h4>Meses</h4>
                    <mat-form-field>
                        <input type="number" matInput formControlName="month" min="1"/>
                        <mat-error *ngIf="!form.get('month')?.valid">Insira a quantidade de meses</mat-error>
                    </mat-form-field>
                </div>
                
                <button mat-raised-button color="primary" type="submit">Calcular</button>
            </form>
        </div>
    
        <div class="result-container" *ngIf="result">
            <span>
                <h1>Resultado Bruto</h1>
                <h1 class="result">R$ {{ result.grossValue }}</h1>
            </span>
            <span>
                <h1>Resultado Líquido</h1>
                <h1 class="result">R$ {{ result.netValue }}</h1>
            </span>
        </div>

    </div>

</div>